Repository Artemkulish/Demo_2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_billing, build_customers, build_gateway, build_google_maps, build_discovery

.gitlab-ci.yml:

image: gitlab.svagworks.me:5050/root/demo_2

variables:
    PATH_TO_JAR:    /target/*.jar
    IP_BILLING:     10.128.0.x
    IP_CUSTOMERS:   10.128.0.x
    IP_GATEWAY:     10.128.0.x
    IP_GOOGLE_MAPS: 10.128.0.x
    IP_DISCOVERY:   10.128.0.x

before_script:
    - 'which ssh-agent || ( apt update -y && apt install openssh-client -y)'
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY")
    - mkdir -p ~/.ssh
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'

stages:
    - build
    - deploy

.build_template: &build_template
    stage: build
    script:
        - cd $PATH_TO_APP
        - mvn clean package
    artifacts:
        paths:
        - $PATH_TO_APP$PATH_TO_JAR
        expire_in: 1 day
    
build_billing:
    <<: *build_template
    variables:
        PATH_TO_APP: BE/BillingService
    only:
        changes:
            - BE/BillingService/**/*
        
build_customers:
    <<: *build_template
    variables:
        PATH_TO_APP: BE/CustomerService/customers
    only:
        changes:
            - BE/CustomerService/customers/**/*
        
build_gateway:
    <<: *build_template
    variables:
        PATH_TO_APP: BE/Gateway
    only:
        changes:
            - BE/Gateway/**/*

build_google_maps:
    <<: *build_template
    variables:
        PATH_TO_APP: BE/GoogleMapsMicroservice
    only:
        changes:
            - BE/GoogleMapsMicroservice/**/*

build_discovery:
    <<: *build_template
    variables:
        PATH_TO_APP: BE/ServiceDiscovery        
    only:
        changes:
            - BE/ServiceDiscovery/**/*
            
deploy:
    stage: deploy
    script:
      - echo "OK"
      - scp deploy.sh artemkulish123@10.128.0.11:/tmp
      #- scp BE/BillingService/target/*.jar $UN_IP:/tmp
      #- scp BE/CustomerService/customers/target/*.jar $UN_IP:/tmp
      #- scp BE/Gateway/target/*.jar $UN_IP:/tmp
      #- scp deploy.sh $UN_IP:/tmp
      #- scp BE/GoogleMapsMicroservice/target/*.jar $UN_IP:/tmp
      #- scp BE/ServiceDiscovery/target/*.jar $UN_IP:/tmp
      #- ssh $UN_IP "cd /tmp && sudo bash deploy.sh "

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update dbchangelog.xml
  BE/dbchangelog.xml
Due: none

Rename BE/dbchangelog.xml to BE/BillingService/dbchangelog.xml
  BE/BillingService/dbchangelog.xml
Due: build_billing

Rename BE/liquibase.properties to BE/BillingService/liquibase.properties
  BE/BillingService/liquibase.properties
Due: build_billing

Update pom.xml
  BE/BillingService/pom.xml
Due: build_billing

Rename BE/BillingService/liquibase.properties to BE/liquibase.properties
  BE/liquibase.properties
Due: none

Rename BE/BillingService/dbchangelog.xml to BE/dbchangelog.xml
  BE/dbchangelog.xml
Due: none

Delete test
  BE/BillingService/test
Due: build_billing

Update application.properties
  BE/BillingService/src/main/resources/application.properties
Due: build_billing

Update liquibase.properties
  BE/liquibase.properties
Due: none

Delete test
  BE/Gateway/test
Due: build_gateway
