Repository Artemkulish/Demo_2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_billing, build_customers, build_gateway, build_google_maps, build_discovery

build_billing:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  artifacts:
    paths:
    - $PATH_TO_APP$PATH_TO_JAR
    expire_in: 1 day
  variables:
    PATH_TO_APP: BE/BillingService

build_customers:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  artifacts:
    paths:
    - $PATH_TO_APP$PATH_TO_JAR
    expire_in: 1 day
  variables:
    PATH_TO_APP: BE/CustomerService/customers

build_gateway:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  artifacts:
    paths:
    - $PATH_TO_APP$PATH_TO_JAR
    expire_in: 1 day
  variables:
    PATH_TO_APP: BE/Gateway

build_google_maps:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  artifacts:
    paths:
    - $PATH_TO_APP$PATH_TO_JAR
    expire_in: 1 day
  variables:
    PATH_TO_APP: BE/GoogleMapsMicroservice

build_discovery:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  artifacts:
    paths:
    - $PATH_TO_APP$PATH_TO_JAR
    expire_in: 1 day
  variables:
    PATH_TO_APP: BE/ServiceDiscovery

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update pom.xml
  BE/BillingService/pom.xml
Due: build_billing

Create test
  BE/BillingService/test
Due: build_billing

Delete test
  BE/BillingService/test
Due: build_billing

Test
  BE/BillingService/test
  BE/CustomerService/customers/teest
  BE/Gateway/test
  BE/ServiceDiscovery/test
Due: build_billing, build_customers, build_gateway, build_discovery

Test2
  BE/BillingService/test
  BE/CustomerService/customers/teest
  BE/Gateway/test
  BE/GoogleMapsMicroservice/test
  BE/ServiceDiscovery/test
Due: build_billing, build_customers, build_gateway, build_google_maps, build_discovery

Delete test
  test
Due: none

Test
  BE/BillingService/test
  BE/CustomerService/test
  BE/Gateway/test
  BE/ServiceDiscovery/test
Due: build_billing, build_gateway, build_discovery

Build
  BE/BillingService/test1
  BE/CustomerService/test1
  BE/Gateway/test1
  BE/ServiceDiscovery/test1
Due: build_billing, build_gateway, build_discovery

Delete test1
  BE/BillingService/test1
Due: build_billing

Delete test1
  BE/CustomerService/test1
Due: none

Delete test
  BE/CustomerService/test
Due: none

Delete test1
  BE/ServiceDiscovery/test1
Due: build_discovery

Update pom.xml
  BE/ServiceDiscovery/pom.xml
Due: build_discovery

Delete test1
  BE/Gateway/test1
Due: build_gateway

Delete test
  BE/Gateway/test
Due: build_gateway

Update pom.xml
  BE/Gateway/pom.xml
Due: build_gateway

Update pom.xml
  BE/CustomerService/customers/pom.xml
Due: build_customers

Last
  BE/BillingService/test
  BE/CustomerService/test
  BE/Gateway/test
Due: build_billing, build_gateway

Path conditions:
  build_billing: any of: BE/BillingService/**/*
  build_customers: any of: BE/CustomerService/customers/**/*
  build_gateway: any of: BE/Gateway/**/*
  build_google_maps: any of: BE/GoogleMapsMicroservice/**/*
  build_discovery: any of: BE/ServiceDiscovery/**/*
