Repository Artemkulish/Ansible: changes, and which GitLab CI jobs are due for each by the changed paths.
All: database_instance, webserver_instance, docker_installation, conteiner-opimized, network, cloud-sql, load-balancer

database_instance:
  stage: ansible
  script:
  - ansible-playbook $PLAYBOOK
  when: manual
  variables:
    PLAYBOOK: p2.yml

webserver_instance:
  stage: ansible
  script:
  - ansible-playbook $PLAYBOOK
  when: manual
  variables:
    PLAYBOOK: work_script.yml

docker_installation:
  stage: ansible
  script:
  - ansible-playbook $PLAYBOOK
  when: manual
  variables:
    PLAYBOOK: docker_install.yml

conteiner-opimized:
  stage: ansible
  script:
  - ansible-playbook $PLAYBOOK
  when: manual
  variables:
    PLAYBOOK: create_conteiner-opt.yml

network:
  stage: ansible
  script:
  - ansible-playbook $PLAYBOOK
  when: manual
  variables:
    PLAYBOOK: network.yml

cloud-sql:
  stage: ansible
  script:
  - ansible-playbook $PLAYBOOK
  when: manual
  variables:
    PLAYBOOK: cloudsql.yml

load-balancer:
  stage: ansible
  script:
  - ansible-playbook $PLAYBOOK
  when: manual
  variables:
    PLAYBOOK: loadbalancer.yml

Update cloudsql.yml
  cloudsql.yml
Due: cloud-sql

Update loadbalancer.yml
  loadbalancer.yml
Due: load-balancer

Update create_conteiner-opt.yml
  create_conteiner-opt.yml
Due: conteiner-opimized

Update var
  var
Due: none

Create test
  demo2/test
Due: none

Create test
  demo3/test
Due: none

Create ds
  demo3/roles/ds
Due: none

Delete test
  demo2/test
Due: none

Path conditions:
  database_instance: any of: p2.yml
  webserver_instance: any of: work_script.yml
  docker_installation: any of: docker_install.yml
  conteiner-opimized: any of: create_conteiner-opt.yml
  network: any of: network.yml
  cloud-sql: any of: cloudsql.yml
  load-balancer: any of: loadbalancer.yml
