Repository Artemkulish/Ansible: changes, and which GitLab CI jobs are due for each by the changed paths.
All: database_instance, webserver_instance, docker_installation

database_instance:
  stage: ansible
  script:
  - ansible-playbook $PLAYBOOK
  when: manual
  variables:
    PLAYBOOK: p2.yml

webserver_instance:
  stage: ansible
  script:
  - ansible-playbook $PLAYBOOK
  when: manual
  variables:
    PLAYBOOK: work_script.yml

docker_installation:
  stage: ansible
  script:
  - ansible-playbook $PLAYBOOK
  when: manual
  variables:
    PLAYBOOK: docker_install.yml

Update p2.yml
  p2.yml
Due: database_instance

Update work_script.yml
  work_script.yml
Due: webserver_instance

Update main.yml
  roles/kafka/tasks/main.yml
Due: none

Update main.yml
  roles/install_postgresql/tasks/main.yml
Due: none

Update main.yml
  roles/installs/tasks/main.yml
Due: none

Create vm and install docker-compose
  create_conteiner-opt.yml
  roles/docker-compose/README.md
  roles/docker-compose/defaults/main.yml
  roles/docker-compose/handlers/main.yml
  roles/docker-compose/meta/main.yml
  roles/docker-compose/tasks/.main.yml.swp
  roles/docker-compose/tasks/main.yml
  roles/docker-compose/tasks/main.yml.save
  roles/docker-compose/tests/inventory
  roles/docker-compose/tests/test.yml
  roles/docker-compose/vars/main.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update create_conteiner-opt.yml
  create_conteiner-opt.yml
Due: none

Update var
  var
Due: none

Update main.yml
  roles/docker-compose/tasks/main.yml
Due: none

Path conditions:
  database_instance: any of: p2.yml
  webserver_instance: any of: work_script.yml
  docker_installation: any of: docker_install.yml
